
h1, h2, h3, h4, h5, h6 {
	font-family: Bitter;
}

.content {
	font-family: Noto Serif;
	font-size: 17px;
}

.breadcrumb {
	font-family: Abel;
	font-size: 15px;
}

#sidebar-wrapper {
	font-family: Abel;
	font-weight: bold;
	font-size: 16px;
}

#title_documentation {
	font-family: Abel;
	font-weight: bold;
	font-size: 25px;
}